body{
    font-family: 'Nunito', sans-serif;
}
.navbar .form-inline input{
    border: none;
    box-shadow: 0 1px 0 0 #000000;
}
.navbar{
    height: 80px;
    background-color: #ffffff;
}
.navbar-brand{
    padding-left: 341px;
}
.form-inline{
    width: 718px;
}
.text-banner{
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
}
.colorIconBlack {
    color: black;
}
.banner{
    display: flex;
    flex-direction:row;
}

#maisVendidos{
    margin-left: 341px;
}
.text-banner{
    position: absolute;
    z-index: 10000;
    margin: 8vh 0 0 45vh;
}
.card{
    border: none!important;
}
@media all and (max-width:767px){
    #banner2{
        width: 100%!important;
        height: 40%;
    }
}





